<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.vpn"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App0515"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Vpn0515">
        <activity
            android:name=".page.MainPage0515"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".page.ConnectPage0515"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity android:name=".page.ServerListPage0515"
            android:screenOrientation="portrait"/>
        <activity android:name=".page.ResultPage"
            android:screenOrientation="portrait"/>
        <activity android:name=".page.AgreePage"
            android:screenOrientation="portrait"/>
    </application>

</manifest>